<h3>Chat Application</h3>
<div id="main_container">
<div id="message_container">



</div>

<div id="sent_box">
    <form method="" id="send_container" >

<input type="text" name="message" id="a_message">
<button type="submit" class="btn btn-success">send &neArr;</button>
    </form>
</div>






</div>